.home {

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    .name {

        display: flex;
        width: 100%;
        height: 100%;

        align-items: center;
        justify-content: center;

        .name__text {

            font-family: 'Folty-Medium', sans-serif;
            font-size: 20rem;
            line-height: 1;

            transform: translate3d( 0, 0, 0 ) skew( 0, #{$pi}deg );

            opacity: 1;

            transition: opacity #{$pi}s $ease-in-cubic;

            &.initially-hidden {

                opacity: 0;

            }

        }

    }

}